
body {
color: green;

 background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../img/bg.jpg");
}

h3{
 color: black;
 text-align: center;
}
.h1{
 color: black;
 text-align: center;
}
.button {
  text-align: center;
 font-family: verdana;
 font-size: 200px;
 background-color:  white;
 background: white;
 text-align: center
}
.button#startButton{
text-align: center;
}
#displayZone{
 text-align: center;
 border: 2px solid black  ;
 width: 200px;
 height:200px;
}
.pre#displayZone{
     display: block;
   font-family: monospace;
   white-space: pre;
   margin: 1em 0px;
   justify-content: center;
   justify-items: center;
   margin-left: auto;
   margin-right: auto
}
text{
 size:20px;
 margin: auto;
}


div{
  text-align: center;
}
/* div.space{
   margin: 1rem 0;
} */

#messageZone {
   background-color: lightblue;
   height: 200px;
   max-height: 200px;
   overflow: auto;
   display: inline-block;
   width: 500px;
}


/* table opetions*/
#joue{
  display: flex;
  justify-content: center;
margin-bottom: 10px;
  text-align: center;
}
td {
	background-origin: !important;
  width: 60px;
  height: 50px;
  text-align: center;

  }
.demo {
  width: auto;
  height: auto;
		border:1px solid #C0C0C0;
		border-collapse:collapse;
		border-spacing:2px;
		padding:2px;
	}
	.demo caption {
		caption-side:bottom;
		text-align:center;
	}
	.demo th {
		border:1px solid #C0C0C0;
		padding:2px;
	}
	.demo td {
		border:1px solid #C0C0C0;
		text-align:center;
		padding:2px;
		background:#FFFFFF;
	}


  /* screen mobile desktop */
@media print {
  #menu, #footer, aside {
    display:none;
  }
}
@media screen and (min-width: 200px) and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}
@media screen and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}
